@font-face {
   font-family: 'Heartwell';
   font-display: swap;
   src: url('file:///C:/Users/TTringheseAdmin.A0014N/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-01-14_163700/fonts/Heartwell/font.ttf');
}
